<nav class="navbar container-fluid col-lg-6 col-lg-offset-3">
  <span><%= link_to "Create a New Job", new_mechanic_job_path(mech) %></span>  |
  <span><%= link_to "Add a Customer", new_customer_path %></span>  |
  <span><%= link_to "View All Customers", customers_path %></span><br><br>
  <button id="home-button" class="btn-primary">View All Jobs</button>  |
  <button id="profile-button" class="btn-primary">View Your Jobs</button>
</nav>
