<nav>
  <span><%= link_to "Create a New Job", new_repairman_job_path(rep) %></span>  |
  <span><%= link_to "Add a Customer", new_customer_path %></span>  |
  <span><%= link_to "View All Customers", customers_path %></span>
</nav>
