<h1 class="col-lg-6 col-lg-offset-3">Welcome to Repair Shop!</h3>


<%= render partial: "nav", locals: {rep: @repairman} %>

<div class="col-lg-6 col-lg-offset-3">
    <h4 id="pending-header">All Pending Jobs:</h4>
    <%= form_tag('/complete') do %>
    <div id="pending-list">
  </div>
  <%= submit_tag "Mark Selected Complete", :id => 'mark-complete', :class => 'btn-success' %>
  <% end %>
</div>


  <div class="col-lg-6 col-lg-offset-3">
    <h4 id="completed-header">All Completed Jobs:</h4>
    <div id="completed-list">
    </div>
  </div>

  <script type="text/javascript" charset="utf-8">
    $(function(){
      setHeaders("All");
      appendPendingJobs('/jobs?state=pending');
      appendCompletedJobs('/jobs?state=completed');
    });
  </script>
